{
	email {env.EMAIL}
}
chuxubank.top {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	@v2ray_websocket {
		path /ray
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @v2ray_websocket v2ray:10000
}
