{
	email {env.EMAIL}
}
chuxubank.top {
	log
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	file_server
	@v2ray_websocket {
		path /listen_to_both_side
		header Connection *Upgrade*
		header Upgrade websocket
	}
	# reverse_proxy @v2ray_websocket {env.V2RAY_ADDRESS}
}
