{
	email {env.EMAIL}
	servers {
		protocols h1 h2 h3
	}
	metrics {
		per_host
	}
}

:9180 {
	metrics
}

*.{$DOMAIN:localhost} {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
}

{$DOMAIN:localhost} {
	log
	handle {$XHTTP_PATH}/* {
		reverse_proxy h2c://xray:{$XHTTP_PORT}
	}
	handle {
		file_server
	}
}

{$RSS_SUB_DOMAIN:rss}.{$DOMAIN:localhost} {
	reverse_proxy http://freshrss
}

{$RSSHUB_SUB_DOMAIN:rsshub}.{$DOMAIN:localhost} {
	reverse_proxy http://rsshub:1200
}

{$ASSPP_SUB_DOMAIN:asspp}.{$DOMAIN:localhost} {
	reverse_proxy asspp:8080
}
