{
  "log": {
    "loglevel": "debug",
    "dnsLog": true
  },
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "type": "field",
        "outboundTag": "warp",
        "domain": [
          "geosite:netflix",
          "geosite:openai",
          "geosite:bing",
          "geosite:anthropic",
          "geosite:cloudflare"
        ]
      },
      {
        "type": "field",
        "outboundTag": "direct",
        "domain": ["geosite:geolocation-!cn"]
      },
      {
        "type": "field",
        "outboundTag": "blocked",
        "ip": ["geoip:cn", "geoip:private"]
      }
    ]
  },
  "inbounds": [
    {
      "port": 2022,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "be9f4d8c-bdcf-3bea-564e-738a370c1eb1"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "grpc",
        "grpcSettings": {
          "serviceName": "listen-to-both-sides"
        }
      }
    },
    {
      "port": 8445,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "dcd639c1-3413-5af8-fdd4-62ee8bee9fcd",
            "flow": "xtls-rprx-vision"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "dest": "1.1.1.1:443",
          "serverNames": [""],
          "privateKey": "wCCNYx5LfMUEO6RswXhamE-JtsQzKoljmEJcIl6R9Do",
          "shortIds": ["87a736ba1efadbc7"]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls",
          "quic"
        ],
        "routeOnly": true
      }
    },
    {
      "port": 8446,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "45d66f5d-2ef5-4477-b9b2-afdcee145c76",
            "flow": "xtls-rprx-vision"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "tls",
        "tlsSettings": {
          "rejectUnknownSni": true,
          "minVersion": "1.2",
          "certificates": [
            {
              "certificateFile": "/data/caddy/certificates/{{ proxy_env.ACME_CA }}-directory/wildcard_.{{ proxy_env.DOMAIN }}/wildcard_.{{ proxy_env.DOMAIN }}.crt",
              "keyFile": "/data/caddy/certificates/{{ proxy_env.ACME_CA }}-directory/wildcard_.{{ proxy_env.DOMAIN }}/wildcard_.{{ proxy_env.DOMAIN }}.key"
            }
          ]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls"]
      }
    }
  ],
  "outbounds": [
    {
      "tag": "direct",
      "protocol": "freedom",
      "settings": {}
    },
    {
      "tag": "warp",
      "protocol": "socks",
      "settings": {
        "servers": [
          {
            "address": "warp",
            "port": 9091
          }
        ]
      }
    },
    {
      "tag": "blocked",
      "protocol": "blackhole",
      "settings": {}
    }
  ]
}
