{
  "$schema": "https://gist.githubusercontent.com/artiga033/fea992d95ad44dc8d024b229223b1002/raw/sing-box.schema.json",
  "log": {
    "level": "trace",
    "output": "{{ sing_box_log_dir }}/sing-box.log",
    "timestamp": true
  },
  "dns": {
    "servers": [
      {
        "tag": "google",
        "type": "tls",
        "server": "8.8.8.8",
        "detour": "proxy"
      },
      {
        "tag": "ali",
        "type": "https",
        "server": "223.5.5.5"
      },
      {
        "tag": "cf",
        "type": "https",
        "server": "1.1.1.1",
        "detour": "proxy"
      },
      {
        "tag": "ts",
        "type": "tailscale",
        "endpoint": "ts-ep"
      },
      { "type": "local", "tag": "local" }
    ],
    "rules": [
      {
        "domain_regex": ["dl\\.google\\.*"],
        "server": "local"
      },
      {
        "type": "logical",
        "mode": "or",
        "rules": [
          { "rule_set": "geosite-google" },
          { "rule_set": "geosite-google-cn" }
        ],
        "server": "cf"
      },
      {
        "type": "logical",
        "mode": "or",
        "rules": [
          { "rule_set": "geosite-google" },
          { "rule_set": "geosite-google-cn" }
        ],
        "server": "google",
        "client_subnet": "114.114.114.114/24"
      },
      {
        "type": "logical",
        "mode": "or",
        "rules": [
          { "rule_set": "geosite-geolocation-cn" },
          { "domain": ["{{ xray_env.DOMAIN }}"] }
        ],
        "server": "ali"
      },
      {
        "type": "logical",
        "mode": "and",
        "rules": [{ "rule_set": "geosite-cn" }, { "rule_set": "geoip-cn" }],
        "server": "ali"
      },
      {
        "rule_set": "geosite-cn",
        "server": "cf"
      },
      {
        "rule_set": "geosite-cn",
        "server": "google",
        "client_subnet": "114.114.114.114/24"
      },
      {
        "type": "logical",
        "mode": "and",
        "rules": [
          {
            "rule_set": "geosite-geolocation-!cn"
          },
          {
            "rule_set": "geoip-cn",
            "invert": true
          }
        ],
        "server": "cf"
      },
      {
        "type": "logical",
        "mode": "and",
        "rules": [
          {
            "rule_set": "geosite-geolocation-!cn",
            "invert": true
          },
          {
            "rule_set": "geoip-cn"
          }
        ],
        "server": "ali"
      },
      {
        "ip_accept_any": true,
        "server": "ts"
      }
    ],
    "final": "google",
    "client_subnet": "114.114.114.114/24",
    "strategy": "ipv4_only",
    "independent_cache": true
  },
  "route": {
    "default_domain_resolver": "ali",
    "rules": [
      {
        "inbound": "tun-in",
        "action": "sniff"
      },
      {
        "network": "icmp",
        "ip_cidr": ["100.64.0.0/10", "fd7a:115c:a1e0::/48"],
        "outbound": "ts-ep"
      },
      { "network": "icmp", "outbound": "direct" },
      {
        "ip_cidr": ["100.64.0.0/10", "fd7a:115c:a1e0::/48"],
        "outbound": "ts-ep"
      },
      {
        "process_name": [
          "xray",
          "hysteria",
          "fly",
          "Teams",
          "Motrix",
          "Feishu"
        ],
        "outbound": "direct"
      },
      {
        "process_path_regex": [".*xray"],
        "outbound": "direct"
      },
      {
        "type": "logical",
        "mode": "or",
        "rules": [
          {
            "protocol": "dns"
          },
          {
            "port": 53
          }
        ],
        "action": "hijack-dns"
      },
      {
        "ip_is_private": true,
        "outbound": "direct"
      },
      {
        "type": "logical",
        "mode": "or",
        "rules": [
          {
            "port": 853
          },
          {
            "network": "udp",
            "port": 443
          },
          {
            "protocol": "stun"
          }
        ],
        "action": "reject"
      },
      {
        "rule_set": "geosite-geolocation-cn",
        "outbound": "direct"
      },
      {
        "type": "logical",
        "mode": "and",
        "rules": [
          {
            "rule_set": "geoip-cn"
          },
          {
            "rule_set": "geosite-geolocation-!cn",
            "invert": true
          }
        ],
        "outbound": "direct"
      }
    ],
    "rule_set": [
      {
        "type": "remote",
        "tag": "geosite-category-ads-all",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-category-ads-all.srs"
      },
      {
        "type": "remote",
        "tag": "geosite-geolocation-cn",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-geolocation-cn.srs"
      },
      {
        "type": "remote",
        "tag": "geosite-cn",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-cn.srs"
      },
      {
        "type": "remote",
        "tag": "geosite-google",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-google.srs"
      },
      {
        "type": "remote",
        "tag": "geosite-google-cn",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-google@cn.srs"
      },
      {
        "type": "remote",
        "tag": "geosite-geolocation-!cn",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-geolocation-!cn.srs"
      },
      {
        "type": "remote",
        "tag": "geoip-cn",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/SagerNet/sing-geoip/rule-set/geoip-cn.srs"
      }
    ],
    "final": "proxy",
    "auto_detect_interface": true
  },
  "inbounds": [
    {
      "type": "tun",
      "tag": "tun-in",
      "address": ["172.18.0.1/30"],
      "auto_route": true,
      "stack": "gvisor",
      "strict_route": true
    }
  ],
  "outbounds": [
    {
      "type": "vless",
      "tag": "proxy",
      "server": "{{ xray_env.ADDRESS }}",
      "uuid": "{{ xray_env.CLIENT_ID }}",
      "flow": "xtls-rprx-vision",
      "tls": {
        "enabled": true,
        "server_name": "{{ xray_env.REALITY_TARGET }}",
        "utls": {
          "enabled": true
        },
        "reality": {
          "enabled": true,
          "public_key": "{{ xray_env.REALITY_PUBLIC_KEY }}",
          "short_id": "{{ xray_env.REALITY_SHORT_ID }}"
        }
      },
      "server_port": {{ xray_env.REALITY_PORT | int }}
    },
    {
      "type": "direct",
      "tag": "direct"
    }
  ],
  "endpoints": [
    {
      "type": "tailscale",
      "tag": "ts-ep",
      "auth_key": "{{ sing_box_tailscale_auth_token }}"
    }
  ],
  "experimental": {
    "cache_file": {
      "enabled": true,
      "store_rdrc": true
    },
    "clash_api": {
      "default_mode": "Enhanced"
    }
  }
}
