{{ sing_box_log_dir }}/box.log {
  rotate 7
  daily
  missingok
  notifempty
  compress
  copytruncate
}

{{ sing_box_log_dir }}/stdout.log {
  rotate 3
  yearly
  missingok
  notifempty
  compress
  copytruncate
}

{{ sing_box_log_dir }}/stderr.log {
  rotate 3
  yearly
  missingok
  notifempty
  compress
  copytruncate
}
