[Unit]
Description=Sing-box Client
After=network.target

[Service]
WorkingDirectory=/var/lib/sing-box
User={{ ansible_facts['user_id'] }}
ExecStart=sudo /usr/bin/sing-box run --config-directory {{ sing_box_config_dir }} --disable-color
Restart=on-failure
RestartSec=5s
StandardOutput=append:{{ sing_box_log_dir }}/sing-box-stdout.log
StandardError=append:{{ sing_box_log_dir }}/sing-box-stderr.log

[Install]
WantedBy=multi-user.target
