{
  "log": {
    "access": "{{ xray_log_dir }}/xray-access.log",
    "error": "{{ xray_log_dir }}/xray-error.log",
    "loglevel": "debug",
    "dnsLog": true
  },
  "dns": {
    "servers": [
      {
        "address": "1.1.1.1",
        "skipFallback": true,
        "domains": ["geosite:google", "geosite:google@cn"]
      },
      {
        "address": "8.8.8.8",
        "skipFallback": true,
        "domains": ["geosite:google", "geosite:google@cn"],
        "finalQuery": true
      },
      {
        "tag": "dns-direct",
        "address": "114.114.114.114",
        "skipFallback": true,
        "domains": ["geosite:cn"],
        "expectIPs": ["geoip:cn"]
      },
      {
        "tag": "dns-direct",
        "address": "223.5.5.5",
        "skipFallback": true,
        "domains": ["geosite:cn"],
        "expectIPs": ["geoip:cn"]
      },
      {
        "address": "1.1.1.1",
        "skipFallback": true,
        "domains": ["geosite:cn"]
      },
      {
        "address": "8.8.8.8",
        "skipFallback": true,
        "domains": ["geosite:cn"],
        "finalQuery": true
      },
      {
        "address": "1.1.1.1",
        "skipFallback": true,
        "domains": ["geosite:geolocation-!cn"],
        "expectIPs": ["geoip:!cn"]
      },
      {
        "address": "8.8.8.8",
        "skipFallback": true,
        "domains": ["geosite:geolocation-!cn"],
        "expectIPs": ["geoip:!cn"]
      },
      {
        "address": "8.8.8.8",
        "clientIp": "202.96.209.5",
        "skipFallback": true,
        "domains": ["geosite:geolocation-!cn"]
      },
      {
        "address": "8.8.4.4",
        "clientIp": "202.96.209.5",
        "skipFallback": true,
        "domains": ["geosite:geolocation-!cn"],
        "finalQuery": true
      },
      {
        "address": "8.8.8.8",
        "clientIp": "202.96.209.5",
        "expectIPs": ["geoip:cn"]
      },
      {
        "address": "8.8.4.4",
        "clientIp": "202.96.209.5",
        "expectIPs": ["geoip:cn"]
      },
      "1.1.1.1",
      "8.8.8.8",
      "localhost"
    ],
    "enableParallelQuery": true,
    "queryStrategy": "UseIPv4",
    "tag": "dns-proxy"
  },
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "inboundTag": ["dns-direct"],
        "outboundTag": "Direct"
      },
      {
        "inboundTag": ["dns-proxy"],
        "balancerTag": "Proxy"
      },
      {
        "domain": ["geosite:category-ads"],
        "outboundTag": "Block",
        "ruleTag": "Blocked Ads"
      },
      {
        "type": "field",
        "protocol": ["bittorrent"],
        "outboundTag": "Direct",
        "ruleTag": "Download"
      },
      {
        "domain": [
          "geosite:apple",
          "geosite:atlassian",
          "geosite:cn",
          "geosite:google@cn",
          "geosite:jetbrains",
          "geosite:logitech",
          "geosite:microsoft@cn",
          "geosite:notion",
          "geosite:steam@cn",
          "domain:teams.microsoft.com",
          "domain:documentfoundation.org",
          "domain:cn.msi.com",
          "domain:ping.pe",
          "domain:bwh88.net",
          "domain:64clouds.com",
          "domain:justmysocks5.net",
          "domain:imwork.net",
          "domain:insta360.com",
          "domain:xiumi.us"
        ],
        "outboundTag": "Direct",
        "ruleTag": "China Domains"
      },
      {
        "domain": ["domain:gmail.com"],
        "outboundTag": "Proxy-self-xhttp",
        "ruleTag": "Via XHTTP"
      },
      {
        "domain": ["geosite:category-ai-chat-!cn"],
        "balancerTag": "Proxy-self",
        "ruleTag": "IP Restriction"
      },
      {
        "domain": [
          "domain:emacs-china.org",
          "domain:leetcode.com",
          "domain:sdkman.io",
          "geosite:discord"
        ],
        "balancerTag": "Proxy-self",
        "ruleTag": "Work Banned"
      },
      {
        "domain": ["geosite:geolocation-!cn"],
        "balancerTag": "Proxy",
        "ruleTag": "Known Foreign Site"
      },
      {
        "ip": ["geoip:cn", "geoip:private", "{{ xray_env.ADDRESS }}"],
        "outboundTag": "Direct",
        "ruleTag": "Private/CN IP"
      }
    ],
    "balancers": [
      {
        "tag": "Proxy",
        "selector": ["Proxy"],
        "strategy": {
          "type": "leastPing",
          "settings": {}
        }
      },
      {
        "tag": "Proxy-self",
        "selector": ["Proxy-self"],
        "strategy": {
          "type": "leastPing",
          "settings": {}
        }
      }
    ]
  },
  "inbounds": [
    {
      "port": 10800,
      "listen": "127.0.0.1",
      "protocol": "socks",
      "settings": {
        "udp": true
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"],
        "domainsExcluded": ["courier.push.apple.com"],
        "routeOnly": true
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ xray_env.DOMAIN }}",
            "port": 443,
            "users": [
              {
                "id": "{{ xray_env.CLIENT_ID }}",
                "encryption": "none"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "tls",
        "xhttpSettings": {
          "path": "{{ xray_env.XHTTP_PATH }}"
        }
      },
      "tag": "Proxy-self-xhttp"
    },
    {
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ xray_env.ADDRESS }}",
            "port": {{ xray_env.REALITY_PORT | int }},
            "users": [
              {
                "id": "{{ xray_env.CLIENT_ID }}",
                "encryption": "none",
                "flow": "xtls-rprx-vision"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "fingerprint": "chrome",
          "serverName": "{{ xray_env.REALITY_TARGET }}",
          "publicKey": "{{ xray_env.REALITY_PUBLIC_KEY }}",
          "spiderX": "",
          "shortId": "{{ xray_env.REALITY_SHORT_ID }}"
        },
        "sockopt": {
          "domainStrategy": "UseIP"
        }
      },
      "tag": "Proxy-self-reality"
    },
    {
      "domainStrategy": "UseIP",
      "protocol": "freedom",
      "tag": "Direct"
    },
    {
      "tag": "Block",
      "protocol": "blackhole"
    }
  ],
  "observatory": {
    "subjectSelector": ["Proxy"],
    "probeUrl": "https://www.google.com/generate_204",
    "probeInterval": "1m",
    "enableConcurrency": true
  },
  "burstObservatory": {
    "subjectSelector": ["Proxy"],
    "pingConfig": {
      "destination": "https://connectivitycheck.gstatic.com/generate_204",
      "connectivity": "",
      "interval": "5m",
      "sampling": 3,
      "timeout": "30s"
    }
  }
}
