{{ xray_log_dir }}/xray-stdout.log {
  rotate 3
  yearly
  missingok
  notifempty
  compress
  copytruncate
}

{{ xray_log_dir }}/xray-stderr.log {
  rotate 3
  yearly
  missingok
  notifempty
  compress
  copytruncate
}

{{ xray_log_dir }}/xray-access.log {
  rotate 7
  daily
  missingok
  notifempty
  compress
  copytruncate
}

{{ xray_log_dir }}/xray-error.log {
  rotate 3
  yearly
  missingok
  notifempty
  compress
  copytruncate
}
