{
	email {env.EMAIL}
	servers {
		protocols h1 h2 h3
	}
}

*.{$DOMAIN:localhost} {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
}

{$RSS_SUB_DOMAIN:rss}.{$DOMAIN:localhost} {
	reverse_proxy http://freshrss
}

{$RSSHUB_SUB_DOMAIN:rsshub}.{$DOMAIN:localhost} {
	reverse_proxy http://rsshub:1200
}
