{
	email {env.EMAIL}
	servers {
		protocol {
			experimental_http3
		}
	}
}
chuxubank.top {
	log
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	file_server
	@grpc {
		protocol grpc
		path /listen-to-both-sides/*
	}
	reverse_proxy @grpc h2c://xray:2022
}
rss.chuxubank.top {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy http://freshrss
}
