{
	email {env.EMAIL}
	servers {
		protocols h1 h2 h3
	}
}

*.chuxubank.top {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
}

chuxubank.top {
	log
	file_server
	@grpc {
		protocol grpc
		path /listen-to-both-sides/*
	}
	reverse_proxy @grpc h2c://xray:2022
}

rss.chuxubank.top {
	reverse_proxy http://freshrss
}
