src/gz openwrt_core {{ openwrt_opkg_mirror_base }}/{{ openwrt_opkg_release_path }}/targets/{{ openwrt_target }}/packages
src/gz openwrt_base {{ openwrt_opkg_mirror_base }}/{{ openwrt_opkg_release_path }}/packages/{{ openwrt_arch }}/base
src/gz openwrt_luci {{ openwrt_opkg_mirror_base }}/{{ openwrt_opkg_release_path }}/packages/{{ openwrt_arch }}/luci
src/gz openwrt_packages {{ openwrt_opkg_mirror_base }}/{{ openwrt_opkg_release_path }}/packages/{{ openwrt_arch }}/packages
src/gz openwrt_routing {{ openwrt_opkg_mirror_base }}/{{ openwrt_opkg_release_path }}/packages/{{ openwrt_arch }}/routing
src/gz openwrt_telephony {{ openwrt_opkg_mirror_base }}/{{ openwrt_opkg_release_path }}/packages/{{ openwrt_arch }}/telephony
